{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Información</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="{% static 'img/medellin.jpg' %}" alt="Foto 1" style="width: 100px; height: 100px;display: block; margin-left: auto; margin-right: auto;">
                    <p><strong>Nombre:</strong> Deivy Alexander Munera Castañeda</p>
                    <p><strong>Número de Ficha:</strong> 2903013</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>